@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic');

/**** COLORS *******/
$border-color: #D5D6D6;
$dark-gray: #333333;
$med-gray: #CCCCCC;
$light-gray: #EEEEEE;
$footer-border: #979797;

$iFit-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: $dark-gray;
  font-size: 14px;
  box-sizing: border-box;
  background: #FFF;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

.button {
  padding: 1em 2em;
  background: #0069D2;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 1px 1px 6px #999;
  display: inline-block;
}

.button:hover {
  background: #EEE;
  color: #333;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

a, a:active {
  text-decoration: none;
  color: #0069D2;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/******* Custome select list **********/
//***** https://www.filamentgroup.com/lab/custom-select.html ********/
.custom-select {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #FFF;
	line-height: 1.2;
	padding: .6em 1.4em .5em .8em;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  border: 1px solid transparent;
	background-color: transparent;
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.custom-select::-ms-expand {
	display: none;
}
.custom-select:hover {
	border: 1px solid #FFF;
}
.custom-select:focus {
	box-shadow: $iFit-shadow;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #FFF;
	outline: none;
}
.custom-select option {
	font-weight:normal;
}

header {
  padding: 2em;
  background: #FFF;
  z-index: 1;
  nav {
    text-transform: uppercase;
    ul {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          color: #2E3134;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
  .secondary-nav {
    margin: -2em -2em 0 -2em;
    border-bottom: 1px solid $border-color;
    margin-bottom: 1.5em;
    ul {
      li {
        a {
          padding: 1em 2em;
          border-right: 1px solid $border-color;
          font-weight: bold;
        }
        a:hover {
          background: $dark-gray;
          color: #FFF;
          
        }
      }
    }
  }
  .primary-nav {
    ul {
      li {
        a {
          padding: 1em 2em;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &.sticky {
    position: sticky;
    top: 0;
  }
}

footer {
  background: #2E3134;
  color: #FFF;
  border: 1px solid $footer-border;
  a, a:active {
    color: #FFF;
  }
  .footer-nav.flex {
    justify-content: space-between;
    align-items: flex-start;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
  }
  ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 1em;
      h3 {
        margin: 0;
        padding: 0;
      }
      a {
        color: #FFF;
        font-weight: normal;
      }
    }
  }
  .social-links.flex {
    border: 1px solid $footer-border;
    border-width: 1px 0;
    justify-content: center;
    img {
      margin: 1em 1.5em;
    }
  }
  .copyright.flex {
    justify-content: center;
    position: relative;
    padding: 2em;
    select {
      position: absolute;
      left: 2em;
    }
    p {
      margin: 0 1.5em;
    }
  }
}

/*********** content ************/
/*********** Home *************/

.hero.flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../images/gmapsinworkout.png');
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  text-align: center;
  height: 801px;
  .tagline {
    max-width: 984px;
    h1 {
      font-size: 4.5rem;
      text-shadow: 2px 2px 6px #666;
    }
    .button {
      padding: 1.25em 10em;
      box-shadow: 1px 1px 6px #333;
      margin-top: 2.5em;
    }
  }
}

.reviews.flex {
  background: #F4F5F7;
  padding: 2em 0;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
  .flex {
    justify-content: center;
    text-align: center;
    box-shadow: $iFit-shadow;
    max-width: 440px;
    width: 100%;
    height: 184px;
    padding: 3.5em;
    background: #FFF;
    q {
      margin: 1em 0 0 0;
    }
  }
  .empty.flex {
    width: 1.5em;
    padding: 0;
  }
  .arrow {
    position: absolute;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
}

.equipment-heading {
  text-align: center;
  margin: 1em 0 0 0;
  color: #34383C;
}
.equipment.flex {
  padding-bottom: 2em;
  justify-content: center;
  div {
    padding: 2.5em;
    max-width: 330px;
    width: 100%;
    height: 330px;
    box-shadow: $iFit-shadow;
    text-align: center;
    margin: 1em;
    h3 {
      color: #2E3134;
      font-size: 1.75em;
    }
    img {
      height: 228px;
    }
  }
}

.courses.flex {
  max-width: 1224px;
  margin: 3em auto;
  justify-content: space-evenly;
  .course {
    width: 288px;
    min-height: 300px;
    box-shadow: $iFit-shadow;
    margin: 1em 1em 0 0;
    .details {
      padding: 1em;
      .flex {
        margin-bottom: .5em;
        flex-wrap: nowrap;
        align-items: flex-start;
      }
      a {
        display: block;
        text-transform: uppercase;
        opacity: 0;
      }
      span {
        font-weight: bold;
        font-size: .8em;
        display: inline-block;
        margin: 0 1em 1em 0;
      }
    }
  }
  .course:hover {
    box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
    transition: all 0.5s ease-in-out;
    a {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
  }
  .overlay {
    position: relative;
    .overlay-content.flex {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      flex-direction: column;
      width: 112px;
      height: 164px;
      justify-content: center;
      background: rgba(0, 12, 40, 0.54);
      span {
        display: block;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
        &.workout-number {
          font-size: 2em;
        }
      }
      img {
        margin-top: 1em;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .reviews.flex {
    justify-content: center;
    flex-wrap: wrap;
    .empty.flex {
      display: none;
    }
  }
  
  .hero.flex {
    .tagline {
      h1 {
        font-size: 2.5em;
      }
      .button {
        padding: 1.25em 5em;
        box-shadow: 1px 1px 6px #333;
        margin-top: 2.5em;
      }
    }
  }
  
  header {
    .primary-nav {
      ul {
        li {
          a {
            padding: 1em 1em 1em 0;
          }
        }
      }
    }
    .secondary-nav {
      ul {
        li {
          a {
            padding: 1em;
            border-right: 1px solid $border-color;
            font-weight: bold;
          }
          a:hover {
            background: $dark-gray;
            color: #FFF;
            
          }
        }
      }
    }
  }
  
  .courses.flex {
    .course {
      .details {
        a {
          opacity: 1;
        }
      }
    }
  }
}

footer {
  .copyright.flex {
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 2em;
    select {
      position: static;
    }
    p {
      margin: 1.5em;
    }
  }
}